.button {
    font-size: 18px;
    background-color: powderblue;
    padding: 15px;
    display: inline-block;}
.input {
    margin: 40px;
    display: inline-block;
}
.h1 {
    text-align: center;
    font-size: 64px;
    background-color: rgba(255, 255, 255, 0.5);
}

#DifficultySelectionScreen{
    display:none;
}

#HelpScreen{
    display:none;
}

.h2{
    text-align: center;
    font-size: 32px;
}

#Kindypage{
    display:none;
}

#Year1page{
    display:none;
}

#Year2page{
    display:none;
}
#GameLayoutKindy{
    display:none;
}

#correctscreen{
    display: none;
}

#incorrectscreen{
    display: none;
}

#scorescreen{
    text-align: right;
    top: 0px;
    bottom: 300px;
}

#finalscorescreen{
    display: none;
}

#GameLayoutYear1{
    display: none;
}