.button {
    background-color: powderblue;
    padding: 40px;
    display: inline-block;}
.input {
    margin: 40px;
    display: inline-block;
}
.h1 {
    text-align: center;
    font-size: 64px;
    background-color: rgba(255, 255, 255, 0.5);
}

#DifficultySelectionScreen{
    display:none;
}

#HelpScreen{
    display:none;
}

.h2{
    text-align: center;
    font-size: 32px;
}

#Kindypage{
    display:none;
}