#title {
    font-size: 64px;
    text-align: center;
    font-family: sans-serif;
    color: #6080f2;
}

.invisibleStuff {
    display: none;
}

.buttonHolder {
    justify-content: center;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.difficultyButton {
    background-color: #6080f2;
    color: white;
    font-size: 20px;
    padding: 12px 28px;
    border-radius: 8px;
    width: 200px;
}

.difficultyButton:hover {
    border: 5px solid #f44336;
}

#scoreCounter {
    justify-content: right;
    padding: 0;
    text-align: right;
    font-size: 32px;
}

#questionCounter {
    justify-content: left;
    padding: 0;
    text-align: left;
    font-size: 32px;
}

#Question {
    font-size: 64px;
    text-align: center;
    font-family: sans-serif;
    color: #6080f2;
}