#tester-canvas {
    border: 1px solid black;
}
.hide { /* class that hides an element */
    display:none;
}
.show { /* class that shows an element */
    display: block;
}

#targetHit {
    position: absolute;
    top: 100px;
    left: 100px;
}
#targetcount {
    position: absolute;
    top: 90px;
    left: 90px;
}

