.gameMain{
    width: 800px;
    height: 500px;
    margin: 159px auto;
    text-align: center;
    border: gold 2px solid;
    background-color: beige;
    opacity: 80%;
    border-radius: 10%;
}

.buttonMain{
    margin: 5px auto;
    border-radius: 10%;
    width:100px;
    height: 50px;
    background-color: rgb(177, 245, 140);
    border: black 1px dot-dash;
}

.buttonMain:hover{
    background-color: aquamarine;
    border:black 1px  solid;
}

.gameMain\.game{
    width: 800px;
    height: 500px;
    margin: 159px auto;
    text-align: center;
    border: gold 2px solid;
    background-color: beige;
    opacity: 80%;
    border-radius: 10%;
    display: none;
}

.gameMain\.help{
    width: 800px;
    height: 500px;
    margin: 159px auto;
    text-align: center;
    border: gold 2px solid;
    background-color: beige;
    opacity: 80%;
    border-radius: 10%;
    display: none;
}

.gameLayers{
    border: black 2px solid;
    margin: 0 auto;
    text-align: center;
    width:100px;
}

