body {
    font-family: "Comic Sans MS", "sans-serif";
}
head {
    font-family: "Comic Sans MS", "sans-serif";
}
h1 {
    font-size: 60px;
    color: hotpink;
    font-family: "Comic Sans MS", "sans-serif";
    text-align: center;
}

.gameInformationContainer {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
}

.gameContainer {
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}

.card{
    position: relative;
    height: 175px;
    width: 125px;
}
.card.visible .cardBack{
    transform: rotateY(-180deg);
}

.card.visible .cardFront{
    transform: rotateY(0)
}

.cardFace {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    transition: transform 500ms ease-in-out;
}

.cardBack {
    background: midnightblue;
    border-color: black;
}
.cardFront {
    background: lightblue;
    transform: rotateY(180deg);
}

.card.matched .cardValue {
    animation: dance 1s linear infinite 500ms;
}

@keyframes dance {
    0%, 100% {
        transform: rotate(0)
    }
    25% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(0);
    }
}
.overlayText {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: hotpink;
}

.overlayText.visible {
    display: flex;
    flex-direction: column;
    animation: overlayGrow 500ms forwards;
}

@keyframes overlayGrow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, .8);
        font-size: 8em;
    }

}

.afterText {
    font-size: .3em;
}

