.container {
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 30px;
}

.button {
    width: 150px;
    height: 55px;
    border-radius: 15px;
    border: 2px solid;
    margin-bottom: 5px;
    background-color: lightyellow;
}


#difficulty {
    display: block;
}

#help {
    display: flex;
    position: absolute;
    bottom: 30px;
    right: 30px;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    font-size: 30px;
    font-weight: bold;
    background-color: skyblue;
    color: black;
}

#score {
    position: absolute;
    right: 60px;
}
