.container {
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 30px;
}

.button {
    width: 150px;
    height: 55px;
    border-radius: 15px;
    border: 2px solid;
    margin-bottom: 5px;
    background-color: lightyellow;
}


#difficulty {
    display: block;
}

#help {
    display: block;
    border-radius: 50px ;
    height: 40px ;
    width: 40px ;
    font-size: 1em ;
    border: 2px solid;
    margin-bottom: 5px;
    position: absolute;
    right: 30px;
    background-color: lightskyblue;
}
